---
http_interactions:
- request:
    method: get
    uri: https://www.tinkoff.ru/api/v1/currency_rates/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 18 Jan 2020 00:57:09 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resultCode":"OK","payload":{"lastUpdate":{"milliseconds":1579308998404},"rates":[{"category":"DepositClosingBenefit","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":59.95},{"category":"DepositClosingBenefit","fromCurrency":{"code":978,"name":"EUR","strCode":"978"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.5},{"category":"DepositClosingBenefit","fromCurrency":{"code":826,"name":"GBP","strCode":"826"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":78.1},{"category":"DepositClosing","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":59.95},{"category":"DepositClosing","fromCurrency":{"code":978,"name":"EUR","strCode":"978"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.5},{"category":"DepositClosing","fromCurrency":{"code":826,"name":"GBP","strCode":"826"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":78.1},{"category":"DepositClosing","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":59.95,"sell":63.05},{"category":"DepositClosing","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":826,"name":"GBP","strCode":"826"}},{"category":"DepositClosing","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":978,"name":"EUR","strCode":"978"}},{"category":"DepositClosing","fromCurrency":{"code":978,"name":"EUR","strCode":"978"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.5,"sell":69.9},{"category":"DepositClosing","fromCurrency":[...]
